@import url(../../main.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    width: 100%;
    cursor: auto;
}

#exit {
    border: 2px solid var(--dark);
    color: var(--dark);

}

#exit:hover {
    background-color: var(--dark);
    color: #ffffff;
}

body {
    background: #ffffff;
    height: 100vh;
    width: 100%;
}

#bg {
    position: fixed;
    background-color: #f8d01f;
    z-index: -5;
}

#bot-div {
    display: flex;
    height: 160px;
    justify-content: center;
    position: relative;
    overflow: initial;
}

#win-or-loose {
    display: block;
    width: 200px;
    margin-top: 7vh;
    margin-right: 300px;
    position: absolute;
    height: inherit;
}

#win-or-loose img {
    height: auto;
    position: absolute;
    display: none;
}

#bot {
    width: auto;
    display: block;
    height: auto;
}

#bot-choice {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 55%;
}

#bot-choice img {
    position: absolute;
    width: 250px;
    height: 250px;
    display: none;
}

#user-choice {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 33%;
    margin-top: 5vh;
}

#user-choice img {
    position: absolute;
    width: 250px;
    height: 250px;
    rotate: -70deg;
    display: none;
}

#user-btns{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 5vh;
    overflow: initial;
}

#user-btns input {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #0000002a;
    padding: 20px;
}

#user-btns input:hover {
    background-color: #C9C056;
}

#points {
    position: relative;
    top: -170vh;
    left: 10%;
    height: auto;
    width: fit-content;

}

#points p {
    height: auto;
    font-size: 5rem;
    font-weight: 500;
    margin: 15vh 0;
}

#reset-btn {
    position: relative;
    top: -200vh;
    left: 80%;
    width: 150px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #0000002a;
    border: none;
    font-size: 2rem;
    font-weight: 500;
}

#reset-btn:hover {
    background-color: #C9C056;
}

@media screen and (max-width: 990px) {
   #points p {
    font-size: 2rem;
    margin: 0;
   }

   #points {
    top: -140vh;
    left: 3%;
   }

   #user-btns {
    margin-top: 0;
   }

   #user-btns input {
    width: 20vw;
    height: 20vw;
   }

   #bot-choice img {
    width: 200px;
    height: 200px;
   }

   #user-choice img {
    width: 200px;
    height: 200px;
   }

   #reset-btn {
    top: -180vh;
    left: 78vw;
    width: 20%;
    height: 80px;
    font-size: 4vw;
   }

   #win-or-loose {
    width: 150px;
    margin-top: 150px;
    margin-right: 150px;
   }
}
